.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(223, 6, 6);
    margin-left: 10px;
}
.logo {
    width: 40px;
    height: 40px;
}

.category-nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.category-nav button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.category-nav button:hover{
    border-color: #f91111;
    box-shadow: #f91111 0px 0px 14px;
}

.category-nav button.active {
  background: #f91111;
  color: white;
  border-color: #f91111;
  box-shadow: #f91111 0px 3.5px 20px 0px;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(223, 6, 6);

}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(223, 6, 6);
    margin-left: 10px;  
}

