*{
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #f2f4f7;
    color : #1C1E21;
    font-family: system-ui, "-apple-system, BlinkMacSystemFont", '.SFNSText-Regular', sans-serif;
}

img{
    position: relative;
    right: 30px;
    padding: 0;
    width: 321px;
    height: 106px;
}

main{
    padding-top: 92px;
    padding-bottom: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 146px;
    
}

.main-div{
    position: relative;
    bottom:30px;
    right: 20px;
    
    
}
img {
    position: relative;
    height: 95px;
    right: 40px;
    bottom:-3px;
    
    
}

.main-div p{
    position: relative;
    bottom: 11px;
    font-size: 25px;
    line-height: 32px;
    font-family: "SFProDisplay-Regular", Helvetica, Arial, sans-serif;;
    height: 80px;
    margin-bottom: 20px;
    padding: 0 0 20px;
}

form{
    margin-top: 25px;
    padding: 10px 0;
    margin-right: -10px;
    background-color: white;
    border-radius: 7.5px;
    width: 356px;
    height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -10;
}

.email{
    outline: none;
    font-size: 15px;
    border: 0.5px solid #e0e1e2;
    width: 300px;
    height: 66px;
    border-radius: 6px;
    margin: 6px 0;
    padding: 0 14px;
    opacity: 0.8; 
    transition: all 0.2s;
    margin-bottom: 5px;
}

.email:focus{
  opacity: 0.3;
  outline: none;
  border: 1px solid #004cff;
  box-shadow: 0px 0px 1px 1px  #0866ff;
}

.password{
    outline: none;
    padding: 0 14px;
    font-size: 15px;
    margin: 6px 0;
    border: 0.5px solid #dddfe2;
    width: 300px;
    height: 66px;
    border-radius: 6px;
    opacity: 0.8; 
    transition: all 0.2s;
}
.password:focus{
    opacity: 0.3;
  outline: none;
  border: 1px solid #004cff;
  box-shadow: 0px 0px 1px 1px  #0866ff;
}

.btn{
    font-family: inherit;
    font-weight: 600;
    background-color: #0866ff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    transition: filter 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    color : white;
    margin: 6px 0;
    width: 330px;
    height: 60px;
    cursor: pointer;
}
.btn:hover {
    filter: brightness(0.92); 
}
.btn:active {
    filter: brightness(0.87); 
}

.forgot{
  font-size: 13px;
}
form a{
    font-size: 14px;
    font-weight: 500;
    color : #0866ff;
    margin: 12px 0;
    text-decoration: none;
}

form div{
    margin: 9px 0;
    width: 332px;
    height: 1px;
    background-color: #dadde1;
}

.btn-create{
    margin: 9px 0;
    width: 175px;
    height: 63px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: filter 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 16px;
    background-color: #42b72a;
    color: white;
    font-family: inherit;
    font-weight: 500;
}
.btn-create:hover {
    filter: brightness(0.92); 
}
.btn-create:active {
    filter: brightness(0.87); 
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form span{
    
    color: #1c1e21;
    margin-top: 25px;
    
}
span{
  font-size: 12px;
}

span a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 127px;
    color: #65676b;
    font-size: 14px;
    padding: 20px 0;
    padding-left: 100px;
    font-family: inherit;
}

.languages{
    width: 980px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 8px;
    align-items: center;
}

.languages a{
    color: #8a8d91;
    text-decoration: none;
    font-size: 10px;
}
.gg{
  font-weight: 500;
  color:black;
}
.g{
  color:rgb(135, 135, 135);
}
.plus{
  opacity: 0.6;
  font-weight: 580;
}

.languages button{
    width: 30px;
    height: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    background-color: #737373;
    height: 0.5px;
    width: 980px;
    margin: 8px 0;
    opacity: 0.2;
}

.links{
    font-size: 11px;
    width: 980px;
    display: flex;
    column-gap: 20px;
    row-gap: 5px;
    flex-wrap: wrap;
}
.links a:hover, .languages a:hover {
    text-decoration: underline; 
}

.ww{
  flex-basis: 100%;
      font-size: 11px;
    width: 980px;
    display: flex;
    column-gap: 20px;
    row-gap: 5px;
    flex-wrap: wrap;
}
.links a{
    color: #8a8d91;
    text-decoration: none;
}

.copyright{
    margin:auto;
    width: 980px;
    align-self: flex-start;

    margin-top: 20px;
    font-size: 10px;
}