* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1c1e21;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    align-items: stretch;
    gap: 31.8px;
    flex: 1;
    width: 100%;
    margin-left: 185px;
}
.logo {
    position: absolute;
    top: 47px;
    left: 47px;
}
.logg {
    position: absolute;
    top: 327px;
    left: 140px;
}
.left {
    flex: 1;
    padding-top: 20px;
    margin-left:500px ;
    text-align: center;
}

h1{ 
    position: absolute;
    top: 78px;
    left: 145px;
    font-family:'Times New Roman', Times, serif;
    font-weight:500;
    font-size: 34px;
    line-height: 2;
}
.right {
    border-left: 2px solid lightgray; 
    padding-left: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-weight:590;
    font-size: 16px;
    padding: 120px 45px;
    margin-right:100px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.right input{
    padding: 10px;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    transition: all 0.1s ease-out; 
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.right input:hover {
    border-color: #414141; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}
.right input:focus {
    outline: none;          
    border: 1px solid #414141;
    box-shadow: none;      
}

.input-group {
    position: relative;
    width: 100%; 
    margin-bottom: 1px;
}
.input-group label {
    position: absolute;
    left: 15px;
    top:23px;
    color: #8e8e8e;
    font-size: 15px;
    transition: all 0.1s ease-out; 
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}
.user:focus + label,
.user:not(:placeholder-shown) + label {
    transform: translateY(-14px); 
    font-size: 13px; 
}
.input-groupp {
    position: relative;
    width: 100%;  
    margin-bottom: 10px;
}
.input-groupp label {
    position: absolute;
    left: 15px;
    top:23px;
    color: #8e8e8e;
    font-size: 15px;
    transition: all 0.1s ease-out; 
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}
.user:focus + label,
.user:not(:placeholder-shown) + label {
    transform: translateY(-14px); 
    font-size: 13px; 
}

.right button{
    width: 100%;
    
    height: 40px;
    border-radius: 25px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.login-part {
    margin-bottom: 50px;
    width:550px;  
    box-sizing: border-box;
}

.login-part a  {
    display: block;
    text-align: center;
    color: #1c1e21;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 6px;
    border-radius: 25px;
    transition: all 0.2s ease;
    height: 37px;
}
.login-part p {
    margin-bottom: 10px;
}
.inst{
    padding-bottom:10px;
    padding-left: 1px;
    font-size: 15px;
    font-weight: 700;
}
.login-part a:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Легкий серый фон, как в Instagram */
    text-decoration: none; /* Убираем подчеркивание, раз появился фон */
}
.login {
    width: 100%;
    cursor: pointer;
    background-color: rgba(8, 103, 255, 0.3); 
    color: white;
    border: none;
    padding: 7px;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 1px;
}
.facebook {
    height: 45px;
    width: 100%; 
    display: flex;
    background: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 25px;
}

.facebook p{
    font-size: 15px;
}

.facebook:hover {
    background-color: rgba(226, 226, 226, 0.742); 
}

.facebook img {
    margin-right: 15px; /* Увеличь это число, чтобы еще сильнее отодвинуть текст от логотипа */
    width: 15px;
    height: 15px;
}

.facebook a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
}
.other-part .new-acc {
    border-color: rgb(0, 136, 244);
}
.new-acc {
    background-color: white;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    border-color: rgb(0, 136, 244);
    color: rgb(0, 136, 244);
}


.new-acc:hover {
    background-color: rgba(226, 226, 226, 0.742); 
}

.meta {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 16px;
    margin-top: 16px;
}

.gradient{
    background: linear-gradient(to right, rgb(248, 129, 18), rgb(255, 0, 72), rgb(210, 4, 210));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}
.footer {
    border-top: 1px solid lightgray;
    font-family: 'Noto Sans', sans-serif;
    line-height: 2;
    padding: 20px;
    color: gray;
    text-decoration: None;
    font-size: 12px;
    text-align: center; 
}
.footer a{
    color: gray;
    text-decoration: None;
    margin: 8px;
    font-size: 12px;
}
.footer-links {
    margin: 10px;
}