<div class="card">
  <div class="image-container" (click)="openModal()">
    <img [src]="currentImage" [alt]="product.name">
  </div>
  <div class="thumbnail-row">
    <img *ngFor="let img of product.images" 
         [src]="img" 
         (click)="changeImage(img)"
         [class.active]="img === currentImage"
         class="thumb">
  </div>
  <div class="content">
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="description">{{ product.description }}</p>
    
    <div class="meta">
      <span class="price">{{ product.price.toLocaleString('ru-RU') }} ₸</span>
      <div class="rating-container">
        <div class="stars-empty">
          <span>★★★★★</span>
        </div>
        <div class="stars-filled" [style.width]="getStarFill()">
          <span>★★★★★</span>
        </div>
      </div>
    </div>

    <a [href]="product.link" target="_blank" class="kaspi-link">Перейти на Kaspi</a>

    <div class="share-container">
      <button class="share-main-btn">
        <span class="share-icon">🔗</span> Поделиться
      </button>
  
      <div class="share-menu">
        <a (click)="shareOnWhatsapp()" class="share-item wa">
          <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="Whatsapp">
          WhatsApp
        </a> 
        <a (click)="shareOnTelegram()" class="share-item tg">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" alt="Telegram">
          Telegram
        </a>
      </div>
    </div>
  </div>
</div>
<div class="modal-overlay" *ngIf="isModalOpen" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeModal()">×</button>
    <div class="modal-slider">
      <button class="nav-arrow" (click)="prevImage()">❮</button>
      <img [src]="currentImage" class="modal-main-img">
      <button class="nav-arrow" (click)="nextImage()">❯</button>
    </div>

    <div class="thumbnail-row modal-thumbs">
      <img *ngFor="let img of product.images" 
           [src]="img" 
           (click)="changeImage(img)"
           [class.active]="img === currentImage"
           class="thumb">
    </div>
  </div>
</div>