.card {
  border: 1px solid #eeeeee;
  border-radius: 12px;
  overflow: hidden;
  background: white;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transform: translateY(-7px);
}

.image-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 10px;
  cursor:pointer
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.thumbnail-row {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 10px;
}

.thumb {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s;
}

.thumb:hover { 
  border-color: #0089d0; 
}

.thumb.active {
  border: 1.4px solid #0089d0;
}

.content { 
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column; 
}

.product-name { 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #333;
  height: 3em;
  overflow: hidden; 
}

.description { 
  font-family:'Courier New', monospace;
  font-weight: 505;
  font-size: 0.9rem;
  color: #606060;
  margin-bottom: 15px;
  flex-grow: 1;   
}

.meta { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; 
}

.price { 
  font-weight: bold;
  font-size: 1.2rem;
  color: #f91111; 
}

.rating-container {
  position: relative;
  display: inline-block;
  font-size: 15px; 
  line-height: 1;
  margin-bottom: 10px;
}

.stars-empty {
  color: #ccc; 
}

.stars-filled {
  color: #ffc107; 
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden; 
}



.kaspi-link {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  background: #0089d0;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}


.share-container {
  position: relative; 
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.share-main-btn {
  width: 100%;
  padding: 10px;
  background-color: #f0f2f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.share-main-btn:hover {
  background-color: #e4e6e9;
}

.share-menu {
  position: absolute;
  bottom: 100%; 
  left: 0;
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;          
  flex-direction: column;
  opacity: 0;             
  visibility: hidden;        
  transform: translateY(10px); 
  transition: all 0.3s ease;
  z-index: 10;  
  margin-bottom: 5px;
}

.share-container:hover .share-menu {
  opacity: 1;               
  visibility: visible;      
  transform: translateY(0);
}

.share-item {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
}

.share-item:hover {
  background-color: #f8f9fa;
}

.share-item img {
  width: 20px;
  height: 20px;
}

.share-item.wa:hover { 
  color: #25D366; 
}
.share-item.tg:hover { 
  color: #0088cc; 
}




/* Модалка */
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@keyframes fadeInScale {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

.modal-content {
  animation: fadeInScale 0.5s ease-out; 
}

.modal-overlay {
  animation: fadeIn 0.7s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-content {
  background: white;
  padding: 50px;
  border-radius: 15px;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-slider {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal-main-img {
  max-width: 70vw;
  max-height: 70vh;
  object-fit: contain;
}

.nav-arrow {
  background: #f1f1f1;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;  
}

.nav-arrow:hover { 
  background: #ddd;
 } 

.modal-thumbs {
  margin-top: 15px;
  justify-content: center;
}

.close-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 30px;
  border: none; background: none;
  cursor: pointer;
}

