button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 650;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.5s;
}
button:hover {
    background-color: rgb(255, 255, 255);
    color: #ffd700;
    text-shadow: 0px 0px 12px rgba(255, 208, 0, 0.767);
}